/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Satisfy);

@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #fff;
	background: #1b2936;
}

a {
	color: #ddd;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

button:hover, .dl-trigger:hover{
	color : #b7b7b7;
	background-color:#eaeff7;
}

/* Header Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.1);
	text-transform: uppercase;
	position: fixed;
	width: 100%;
	font-size: 0.68em;
	line-height: 2.2;
	z-index: 50000;
	top: 0;
	left: 0;
}

.hack_time_block{
	min-width: 310px;
	max-width: 310px;
	min-height: 80px;
	/*background-color: #1b2a36;*/
	position: absolute;
	left: 400px;
	top: 170px;
	z-index: 10;
}
.hack_time_block_2 {
	position: absolute;
	top: 106px;
	left: 34px;
}
.hack_date_block_2 {
	position: absolute;
	top: 123px;
	left: 316px;
}

.hack_loyalty_block_2{
	min-width: 62px;
	max-width: 142px;
	min-height: 42px;
	position: absolute;
	left: calc(100% - 116px);
	top: 118px;
	z-index: 10;
}

.hack_loyalty_block_page{
	min-width: 62px;
	max-width: 142px;
	min-height: 42px;
	position: absolute;
	left: 140px;
	top: 140px;
	z-index: 10;
}

.block_offers_for_me{
	position: absolute;
	top: 352px;
	left: 57px;
	min-width: 297px;
	min-height: 25px;
	/*background-color: blue;*/
	z-index: 10;
}

.block_loyalty_near_me{
	position: absolute;
	top: 776px;
	left: 57px;
	min-width: 397px;
	min-height: 25px;
	/*background-color: blue;*/
	z-index: 10;
}

.hack_score_block_1{
	min-width: 62px;
	max-width: 142px;
	min-height: 42px;
	position: absolute;
	left: 648px;
	display: inline-block;
	top: 444px;
	z-index: 10;
}

.hack_score_block_2{
	min-width: 62px;
	max-width: 142px;
	min-height: 42px;
	position: absolute;
	left: 794px;
	display: inline-block;
	top: 465px;
	z-index: 10;
}

.hack_score_block_3{
	min-width: 62px;
	max-width: 142px;
	min-height: 42px;
	position: absolute;
	left: 919px;
	display: inline-block;
	top: 253px;
	z-index: 10;
}

.hack_score_left{
	font-size: 44px;
	display: inline-block;
}
.hack_score_dash{
	font-size: 44px;
	display: inline-block;
	padding-left: 3px;
}

.hack_score_right{
	font-size: 44px;
	display: inline-block;
	padding-left: 3px;
}

.loyalty_current_value_page{
	font-size: 38px;
	transition: all 1s ease;
}

.loyalty_current_value_2 {
	font-size: 38px;
	transition: all 1s ease;
}

.hack_date_block{
	min-width: 310px;
	max-width: 310px;
	min-height: 80px;
	/*background-color: #1b2a36;*/
	position: absolute;
	left: 750px;
	top: 180px;
	z-index: 10;
}

.hack_loyalty_block{
	min-width: 62px;
    max-width: 142px;
    min-height: 42px;
    /*background-color: #1b2a36;*/
    position: absolute;
    left: calc(100% - 288px);
    top: 42px;
    z-index: 10;
}

.loyalty_current_value{
	font-size: 23px;
	transition:all 1s ease;
}

.six_ticket_count_div{
	position: fixed;
    overflow: hidden;
    left: 85%;
    bottom: 0;
    padding: 10px;
    width: 250px;
    z-index: 10;
}

.panel_img_rick{
	position: absolute;
    left: 89%;
    max-height: 100vh;
    overflow-y: scroll;
    z-index: 2;

    /*position: absolute;
    left: calc(100% - 390px);
    max-height: 1665px;*/
}

.panel_img_sam{
	position: absolute;
	left: 86%;
	max-height: 100vh;
	overflow-y: scroll;
	z-index: 2;
}
.wrap_panel_ricky{
	overflow: hidden;
	opacity: 0;
}
.wrap_panel_sam{
	overflow: hidden;
}
.scroll-image{
	overflow: auto;
}

.time_current_value{
	font-size: 55px;
}
.date_current_value{
	font-size: 30px;
}
.date_day_name{
	color: #5a5a5a;
	opacity: 0.9;
}
.bcg_img_one{
        width: 100%;
        z-index: 1;
    }
    
.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #fff;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.2);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.codrops-icon-drop:before {
	content: "\e001";
}
.codrops-icon-prev:before {
	content: "\e004";
}
.codrops-icon-archive:before {
	content: "\e002";
}
.codrops-icon-next:before {
	content: "\e000";
}
.codrops-icon-about:before {
	content: "\e003";
}

@media screen and (max-width: 25em) { 
	.codrops-icon span {
		display: none;
	}
}

